<% content_for :title, "Pricing - #{ENV["APP_TITLE"]}" %>
<div class="row  ">
    <div class="large-12 columns">
        <h1>Pricing</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 agent-info info-secondary medium-6 large-6 columns text-center pricing">
        <h3 class="subheader">Request Beta Access</h3>
        <p>
            Start using Ariip platform to develop your integration services.
            You can start by trying our platform in Beta and see how it works.
        </p>
        <a class="button alert radius icon-start" data-reveal-id="request_access">Request Beta Access</a>
        <br/><br/>
    </div>
    <div class="small-12 agent-info info-secondary medium-6 large-6 columns text-center pricing">
        <h3 class="subheader">Need Custom made Integration?</h3>
        <p>
            If you need a specific integration made and do not have the required skills or time - challenge us!
        </p>
        <a class="button success radius icon-star" data-reveal-id="request_integration">Request Custom Integration</a>
        <br/>
        <br/>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <h2 class="subheader">Why ARiiP?</h2>
        <strong>ARiiP</strong>
    brings the power of automated real-time data integration to everyone. Quickly create new integrations connecting your data and services to anything. <strong>ARiiP</strong> is the fastest and easiest way for developers to integrate any input source with any endpoint you wish - be it local or cloud based - without complexing coding.
    <br />
        <%= link_to 'Check our Use Cases', {:controller => '/use_cases', :action => 'index'}, :class => 'button expand radius info icon-usecases' %>
    </div>
</div>
<%= render partial: "helper/custom_integration"  %>