<% content_for :title, "#{ENV['APP_TITLE']} - Use Cases | Integration Platform for Developers" %>
<% content_for :meta_description, '<meta name="description" content="See how ARiiP can be used in real life situations with our use cases. ARiiP is an Integration-as-a-Service platform for developers and companies." />'.html_safe %>
<% content_for :meta_keywords, '<meta name="keywords" content="ariip, integration, integration-as-a-service, iaas, ipaas, create integration, cloud integration, local integration, use cases" />'.html_safe %>
<div class="row">
    <div class="small-12 columns">
        <h1 class="">Use Cases</h1>
        <p>
            Here are some examples of real-life situations where you can use <strong>ARiiP</strong>.
        </p>
    </div>
</div>
<div class="row" data-equalizer>
    <%= render "usecases", :selected => 'none' %>
</div>