<% content_for :title, "Use Case - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs animated fadeIn">
    <li><a href="<%= root_url %>">Home</a></li>
    <li class="current">Use Cases</li>
</ul>
<h1 class="animated fadeIn"><strong>ARiiP</strong>'s sample use cases</h1>