<% content_for :title, "Use Cases - #{ENV["APP_TITLE"]}" %>
<div class="row">
    <div class="small-12 columns">
        <h1 class="">Use Cases</h1>
        <p>
            Here are some examples of real-life situations where you can use <strong>ARiiP</strong>.
        </p>
    </div>
</div>
<div class="row" data-equalizer>
    <%= render "usecases", :selected => 'none' %>

</div>