<% content_for :title, "#{ENV['APP_TITLE']} - Use Cases | Integration Platform for Developers" %>
<% content_for :meta_description, '<meta name="description" content="See how ARiiP can be used in real life situations with our use cases. ARiiP is an Integration-as-a-Service platform for developers and companies." />'.html_safe %>
<% content_for :meta_keywords, '<meta name="keywords" content="ariip, integration, integration-as-a-service, iaas, ipaas, create integration, cloud integration, local integration, use cases" />'.html_safe %>
<div class="row">
    <div class="small-12 columns">
        <h1 class="">Online form to REST service</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul class="tabs vertical" data-tab>
            <li class="tab-title  active"><a href="#challenge" class="icon-input tab_radius tab_verticals">Challenge</a></li>
            <!--<li class="tab-title "><a href="#solution" class="icon-output tab_radius tab_verticals">Solution</a></li>-->
            <li class="tab-title "><a href="#whyariip" class="icon-integration tab_radius tab_verticals">Using ARiiP</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content home_tab_content active" id="challenge">
                <p>
                    Your company wants a website where anyone can give feedback about its products. The simplest solutions is to create an online form to solicit and register clients' feedback. However, how can you distribute this feedback to multiple key people? How can you quickly add it to your company's support platform?
                </p>
            </div>
            <div class="content home_tab_content" id="solution">

            </div>
            <div class="content home_tab_content" id="whyariip">
               <p>
                    A straightforward approach is to connect the form engine directly with a mail delivery engine or with your company's support platform. As this is not possible with most available solutions, <strong>ARiiP</strong> enables the integration of multiple data and services. <strong>ARiiP</strong> makes it easy to connect apps like Wufoo and Zendesk to your data management platform. This way, you data are where you want it and when you need it.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns    ">
        <h3 class="subheader">Check other use cases</h3>
    </div>
</div>
<div class="row">
    <%= render "usecases", :selected => 'online2rest' %>
</div>