<% content_for :title, "Use Cases - #{ENV["APP_TITLE"]}" %>
<div class="row">
    <div class="small-12 columns">
        <h1 class="">Twitter mentions to local File</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul class="tabs vertical" data-tab>
            <li class="tab-title  active"><a href="#challenge" class="icon-input tab_radius tab_verticals">Challenge</a></li>
            <li class="tab-title "><a href="#solution" class="icon-output tab_radius tab_verticals">Solution</a></li>
            <li class="tab-title "><a href="#whyariip" class="icon-integration tab_radius tab_verticals">Using ARiiP</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content home_tab_content active" id="challenge">
                <p>
                    You are about to launch a new social media strategy for your company. Everything is in place, but you need to create a quick live report about all the mentions of your new hashtag. How to maintain an updated CSV file with the metadata of each tweet?
                </p>
            </div>
            <div class="content home_tab_content" id="solution">
                <p>
                    Accessing Twitter's API is relatively easy and it is open to public searches (with some limitations). With <strong>ARiiP</strong>, you can process Twitter's API output (in XML or JSON) and update your local CSV file everytime a new mention is tracked.
                </p>
            </div>
            <div class="content home_tab_content" id="whyariip">
                Using ARiiP video.
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="row">
    <div class="small-12 columns    ">
        <h3 class="subheader">Check other use cases</h3>
    </div>
</div>
<br />
<div class="row">
    <%= render "usecases", :selected => 'twitter2file' %>
</div>