<!--  feedback modal content -->
<div id="request_integration" class="reveal-modal" data-reveal>
    <h2>Get a Quote for Custom Integration!</h2>
    <div id="client_message">
        <%= render(:partial => 'clients/form') %>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>