<!--  feedback modal content -->
<div id="give_feedback" class="reveal-modal" data-reveal>
  <h2>Send us your feedback!</h2>
  <div id="feedback_message">
  <%= render(:partial => 'feedbacks/form') %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>