<!-- access modal content -->
<div id="request_access" class="reveal-modal" data-reveal>
    <h2>Request Beta Access</h2>
    <div id="request_access_message">
        <%= render(:partial => 'betas/form') %>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>