<div class="row centered-text content animated fadeIn">
  <div class="small-4 medium-2 large-2 columns center centered-text">
    <%= image_tag 'logo@3x.png', :alt => 'ariip integrations logo' %>
    <h1>ARiiP</h1>
  </div>
  <div class="small-12 columns">
    <h3 class="subheader">Easily Connect Cloud and On-premise Data &amp; Services</h3>
    <a href="#" class="button alert large radius icon-play" data-reveal-id="watch_video">Watch Video</a>
  </div>
</div>
<hr />
<div class="row centered-text content animated fadeIn">
  <h2 class="subheader">What does ARiiP do?</h2>
  <div class="small-12 columns centered-text home_box">
    <h6>
    <strong>ARiiP</strong> is an Integration Platform that allows Developers and Tech Users to easily integrate any Input source (ex: CSV, SQL, XML, JSON,..) with any Output (ex: SQL, CSV, JSON, XML, Services, Email, File,..) in real-time - for both local and/or cloud Inputs and Outputs.
    </h6>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns home_box">
        <%= link_to 'Learn how ARiiP works', {:controller => '/how', :action => 'index'}, :class => 'button large expand radius warning icon-how' %>
      </div>
      <div class="small-12 medium-6 large-6 columns home_box">
        <a href="" class="button info large expand radius icon-start" data-reveal-id="request_access">Start using ARiiP</a>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row centered-text">
  <h2 class="subheader">Why ARiiP?</h2>
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-infinity gigantic dark_red"></i>
    <h5>Integrate Everything</h5>
    <p class="small-text">Easily integrate whatever data &amp; service you want: CRM, ERP, Forms, Social Media, Own Applications, among others. With ARiiP you can connect anything based on the technology used and not on the platform.</p>
  </div>
  <div class="small-12 medium-6 large-6 columns home_box ">
    <i class="icon-easy gigantic dark_red"></i>
    <h5>Easy to setup and manage</h5>
    <p class="small-text">Create your own integrations by configuring what you need as input and output, no complex coding required. Need to change an integration detail? Just go to the platform and easily make changes.</p>
  </div>
</div>
<!--<div class="row centered-text">
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-many2many gigantic dark_red"></i>
    <h5>Many to many integrations</h5>
    <p class="small-text">Develop integrations with as many inputs and outputs as you want. Need to setup an integration that links multiple databases to several applications? No problem, <strong>ARiiP</strong> does the work for you.</p>
  </div>
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-lock gigantic dark_red"></i>
    <h5>On premises version</h5>
    <p class="small-text">Need to integrate within your private network? Our <strong>on-premise</strong> version allows you to setup and manage integrations in the same way, within your local network, as you would online.</p>
  </div>
</div>-->
<div class="row centered-text">
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-localcloud gigantic dark_red"></i>
    <h5>Combine On-premise and Cloud Data &amp; Services.</h5>
    <p class="small-text">Integrate whatever you want, be it cloud based applications and datasources, or your own database/application in your private/local network.</p>
  </div>
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-realtime gigantic dark_red"></i>
    <h5>Real-time integration</h5>
    <p class="small-text">Instead of creating a unique version of aggregated data, with ARiiP the integration is continuous and in (near) real time - tracking your content in a predefined schedule or having your services push data.</p>
  </div>
</div>
<hr />
<div class="row centered-text" data-equalizer>
  <h2 class="subheader">Ideal for</h2>
  <div class="small-12 medium-4 large-4 columns">
    <div class="panel radius" data-equalizer-watch>
      <h5>IT Consulting and Software Houses</h5>
      <p class="small-text">
      Want to save time on projects? Be able to accept more projects and potencially increase your project margin?</p>
      <a href="" class="button secondary small radius icon-start" data-reveal-id="request_access">Get Started</a>
    </div>
  </div>
  <div class="small-12 medium-4 large-4 columns">
    <div class="panel radius" data-equalizer-watch>
      <h5>Startups and SaaS companies</h5>
      <p class="small-text">
        Looking to start integrating all the services you need quickly and without complex coding?
      And improve time to market?</p>
      <a href="" class="button secondary small radius icon-start" data-reveal-id="request_access">Get Started</a>
    </div>
  </div>
  <div class="small-12 medium-4 large-4 columns">
    <div class="panel radius" data-equalizer-watch>
      <h5>Developers</h5>
      <p class="small-text">
      Interested in a tool that helps integrate whatever you want, according to your own specifications? Without developing all of it from scratch?</p>
      <a href="" class="button secondary small radius icon-start" data-reveal-id="request_access">Get Started</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns centered-text">
    <div class="row">
      <div class="small-12 columns centered-text">
        <div class="panel radius">
          <h5>Companies in general</h5>
          <p class="small-text">
          Companies that do use several services and need to connect them for specific purposes, interested in giving an extra hand to your IT team? And allow them to easily develop those connections, saving time? Allowing them to quickly go back to your core activities?</p>
          <a href="" class="button secondary small radius icon-start" data-reveal-id="request_access">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 columns centered-text">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns home_box">
        <%= link_to 'Learn how ARiiP works', {:controller => '/how', :action => 'index'}, :class => 'button large expand radius warning icon-how' %>
      </div>
      <div class="small-12 medium-6 large-6 columns home_box">
        <a href="" class="button info large expand radius icon-start" data-reveal-id="request_access">Start using ARiiP</a>
      </div>
    </div>
  </div>
</div>
<!-- ARiiP video modal -->
<div id="watch_video" class="reveal-modal" data-reveal>
  <h2>ARiiP</h2>
  <div class="flex-video widescreen youtube">
    <iframe id="ytplayer" type="text/html" width="720" height="405"
    src="https://www.youtube.com/embed/LEShH1JhWt0?autoplay=0&loop=1&modestbranding=1&playsinline=1&showinfo=0&color=white&theme=light&rel=0"
    frameborder="0" allowfullscreen >
    </iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>