<div class="row centered-text content animated fadeIn">
  <div class="small-6 medium-2 large-2 columns center centered-text">
    <%= image_tag 'logo@3x.png', :alt => 'ariip integrations logo' %>
    <h1>ARiiP</h1>
  </div>
  <div class="small-12 columns centered-text home_box">
    <h3>Automated Real-time Integration &amp; Interoperability Platform</h3>
    <h5 class="subheader">
    <strong>ARiiP</strong>
    brings the power of automated real-time data integration to everyone. Quickly create new integrations connecting your data and services to anything. <strong>ARiiP</strong> is the fastest and easiest way for developers to integrate any input source with any endpoint you wish - be it local or cloud based - without complex coding.
    </h5>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns home_box">
        <%= link_to 'Learn how ARiiP works', {:controller => '/how', :action => 'index'}, :class => 'button large expand radius warning icon-how' %>
      </div>
      <div class="small-12 medium-6 large-6 columns home_box">
        <a href="" class="button info large expand radius icon-start" data-reveal-id="request_access">Start using ARiiP</a>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row centered-text">
  <h2 class="subheader">Why ARiiP?</h2>
  <div class="small-12 medium-6 large-6 columns home_box ">
    <i class="icon-easy gigantic dark_red"></i>
    <h5>Easy to setup and manage</h5>
    <p class="small-text">Create your own integrations by configuring what you need as <strong>input</strong> and <strong>output</strong>, no complex coding required. Need to change an integration detail? Just go to the platform and easily make changes.</p>
  </div>
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-localcloud gigantic dark_red"></i>
    <h5>Combine local and cloud integrations</h5>
    <p class="small-text">Integrate whatever you want, be it <strong>cloud</strong> based applications and datasources, or your own database/application in your <strong>private</strong>/local network. </p>
  </div>
</div>
<div class="row centered-text">
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-many2many gigantic dark_red"></i>
    <h5>Many to many integrations</h5>
    <p class="small-text">Develop integrations with as many inputs and outputs as you want. Need to setup an integration that links multiple databases to several applications? No problem, <strong>ARiiP</strong> does the work for you.</p>
  </div>
  <div class="small-12 medium-6 large-6 columns home_box">
    <i class="icon-lock gigantic dark_red"></i>
    <h5>On premises version</h5>
    <p class="small-text">Need to integrate within your private network? Our <strong>on-premise</strong> version allows you to setup and manage integrations in the same way, within your local network, as you would online.</p>
  </div>
</div>
