<% content_for :title, "Events page #{params[:page]} - #{ENV["APP_TITLE"]}" %>
<h3 class="subheader">Events</h3>
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<%= render :partial => "events/filters"%>
<%= render :partial => "events/events", locals: {:events => @events} %>