<% content_for :javascript_includes do %>
<%= javascript_include_tag "#{ENV['APP_HOST']}agents/new.js" %>
<% end %>

<% content_for :title, "New input - #{ENV["APP_TITLE"]}" %>
<h1>New input</h1>
<%= render 'new' %>
