<div class="row">
    <div class="small-12 columns centered-text">
        <h1>Template Library</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 columns centered-text">
        <p>We're still busy setting up a good range of integration templates. You will be the first to know as soon as the new library is available.</p>
    </div>
</div>