<% content_for :title, "#{ENV["APP_TITLE"]} - How it Works | Integration Platform for Developers" %>
<% content_for :meta_description, '<meta name="description" content="See how ARiiP works and how to setup an Input, Output, Integration and manage all of this. ARiiP is an Integration-as-a-Service platform for developers and companies." />'.html_safe %>
<% content_for :meta_keywords, '<meta name="keywords" content="ariip, integration, integration-as-a-service, iaas, ipaas, create integration, cloud integration, local integration, how it works" />'.html_safe %>
<div class="row">
    <div class="small-12 columns">
        <h1 class=" ">How does <strong>ARiiP</strong> work?</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul class="tabs vertical" data-tab>
        <li class="tab-title  active"><a href="#overview" class="icon-ariip tab_radius tab_verticals">ARiiP</a></li>
            <li class="tab-title "><a href="#workspace" class="icon-details tab_radius tab_verticals">The workspace</a></li>
            <li class="tab-title "><a href="#inputs" class="icon-input tab_radius tab_verticals">Setup your inputs</a></li>
            <li class="tab-title "><a href="#outputs" class="icon-output tab_radius tab_verticals">Setup your outputs</a></li>
            <li class="tab-title "><a href="#manage" class="icon-details tab_radius tab_verticals">Manage &amp; control integrations</a></li>
        </ul>
        <div class="tabs-content">
        <div class="content home_tab_content active" id="overview">
                <div class="flex-video widescreen youtube">
                    <iframe id="ytplayer" type="text/html" width="720" height="405"
                    src="https://www.youtube.com/embed/LEShH1JhWt0?autoplay=0&loop=1&modestbranding=1&playsinline=1&showinfo=0&color=white&theme=light&rel=0"
                    frameborder="0" allowfullscreen >
                    </iframe>
                </div>
            </div>
            <div class="content home_tab_content active" id="workspace">
                <div class="flex-video widescreen youtube">
                    <iframe id="ytplayer" type="text/html" width="720" height="405"
                    src="https://www.youtube.com/embed/83Hk2PBSX3o?autoplay=0&loop=1&modestbranding=1&playsinline=1&showinfo=0&color=white&theme=light&rel=0"
                    frameborder="0" allowfullscreen >
                    </iframe>
                </div>
            </div>
            <div class="content home_tab_content" id="inputs">
                <div class="flex-video widescreen youtube">
                    <iframe id="ytplayer" type="text/html" width="720" height="405"
                    src="https://www.youtube.com/embed/llDVqocFalM?autoplay=0&loop=1&modestbranding=1&playsinline=1&showinfo=0&color=white&theme=light&rel=0"
                    frameborder="0" allowfullscreen >
                    </iframe>
                </div>
            </div>
            <div class="content home_tab_content" id="outputs">
                <div class="flex-video widescreen youtube">
                    <iframe id="ytplayer" type="text/html" width="720" height="405"
                    src="https://www.youtube.com/embed/vDIp_t4cPmE?autoplay=0&loop=1&modestbranding=1&playsinline=1&showinfo=0&color=white&theme=light&rel=0"
                    frameborder="0" allowfullscreen ></iframe>
                </div>
            </div>
            <div class="content home_tab_content" id="manage">
                <div class="flex-video widescreen youtube">
                    <iframe id="ytplayer" type="text/html" width="720" height="450"
                    src="https://www.youtube.com/embed/BPwmBc3p4EY?autoplay=0&loop=1&modestbranding=1&playsinline=1&showinfo=0&color=white&theme=light&rel=0"
                    frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />