<% content_for :title, "How it works - #{ENV["APP_TITLE"]}" %>
<h1 class=" ">How does <strong>ARiiP</strong> work?</h1>
<div class="row">
    <div class="small-12 columns">
        <ul class="tabs vertical" data-tab>
            <li class="tab-title  active"><a href="#inputs" class="icon-input tab_radius tab_verticals">Setup your inputs</a></li>
            <li class="tab-title "><a href="#outputs" class="icon-output tab_radius tab_verticals">Setup your outputs</a></li>
            <li class="tab-title "><a href="#integrations" class="icon-integration tab_radius tab_verticals">Setup your integrations</a></li>
            <li class="tab-title "><a href="#manage" class="icon-details tab_radius tab_verticals">Manage &amp; control integrations</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content home_tab_content active" id="inputs">

                Inputs

            </div>
            <div class="content home_tab_content" id="outputs">

                Outputs

            </div>
            <div class="content home_tab_content" id="integrations">
                Integrations

            </div>
            <div class="content home_tab_content" id="manage">

                Manage

            </div>
        </div>
    </div>
</div>
<br />
<br />