<div class="row">
	<div class="small-4 columns text-center">
		<ul class="vcard">
			<li class="th radius"><%= image_tag 'paulo_bartolomeu_ariip_integrations.jpg', :alt => 'Paulo Bartolomeu - ARiiP integrations' %></li>
			<li class="fn"><h5 class="subheader">Paulo Bartolomeu</h5></li>
			<li class="social">
				<span data-tooltip class="has-tip radius" title="Send Paulo an email"><a href="mailto:paulobartolomeu@ariip.com?subject=[ARiiP] " class="icon-mail" ></a></span>
				<span data-tooltip class="has-tip radius" title="Check Paulo on LinkedIn"><a href="https://www.linkedin.com/in/pbartolomeu" class="icon-linkedin" target="_blank" title="Check Paulo on LinkedIn."> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Paulo on Twitter"><a href="https://twitter.com/PauloBartolomeu" class="icon-twitter" target="_blank" title="Check Paulo on Twitter."> </a></span>
			</li>
		</ul>
	</div>
	<div class="small-4 columns text-center">
		<ul class="vcard">
			<li class="th radius"><%= image_tag 'pedro_esteves_ariip_integrations.jpg', :alt => 'Pedro Esteves - ARiiP integrations' %></li>
			<li class="fn"><h5 class="subheader">Pedro Esteves</h5></li>
			<li class="social">
				<span data-tooltip class="has-tip radius" title="Send Pedro an email"><a href="mailto:pedroesteves@ariip.com?subject=[ARiiP] " class="icon-mail" ></a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on LinkedIn"><a href="http://www.linkedin.com/in/pedrosalomaoesteves/" class="icon-linkedin" target="_blank" title="Check Pedro on LinkedIn."> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on Twitter"><a href="https://twitter.com/psresteves" class="icon-twitter" target="_blank" title="Check Pedro on Twitter."> </a></span>
			</li>
		</ul>
	</div>
	<div class="small-4 columns text-center">
		<ul class="vcard">
			<li class="th radius"><%= image_tag 'pedro_lopes_ariip_integrations.jpg', :alt => 'Pedro Lopes - ARiiP integrations' %></li>
			<li class="fn"><h5 class="subheader">Pedro Lopes</h5></li>
			<li class="social">
				<span data-tooltip class="has-tip radius" title="Send Pedro an email"><a href="mailto:pedrolopes@ariip.com?subject=[ARiiP] " class="icon-mail" ></a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on Facebook"><a href="http://facebook.com/pdrlps" class="icon-facebook" target="_blank"> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on GitHub"><a href="https://github.com/pdrlps" class="has-tip icon-github" target="_blank" title="Check Pedro on GitHub."> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on Google+"><a href="https://plus.google.com/+PedroLopesInfinity" class="icon-google_oauth2" target="_blank" title="Check Pedro on Google+."> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on LinkedIn"><a href="http://linkedin.com/in/pdrlps/" class="icon-linkedin" target="_blank" title="Check Pedro on LinkedIn."> </a></span>
				<span data-tooltip class="has-tip radius" title="Check Pedro on Twitter"><a href="http://twitter.com/pedrolopes" class="icon-twitter" target="_blank" title="Check Pedro on Twitter."> </a></span>
			</li>
		</ul>
	</div>
</div>