<% content_for :title, "#{ENV['APP_TITLE']} - About Us | Integration Platform for Developers" %>
<% content_for :meta_description, '<meta name="description" content="Know who is being ARiiP and why are making this happen. ARiiP is an Integration-as-a-Service platform for developers and companies." />'.html_safe %>
<% content_for :meta_keywords, '<meta name="keywords" content="ariip, integration, integration-as-a-service, iaas, ipaas, create integration, cloud integration, local integration, about us" />'.html_safe %>
<div class="row">
	<div class="small-12 columns">
		<h1 class="">About</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<p>
			<strong>ARiiP</strong> is innovative platform for automated, real-time, integration and interoperability among data and services.
		</p>
		<p>
			<strong>ARiiP</strong>, which stands for Automated Real-time integration and interoperability Platform, is built by a team of young entrepreneurs with combined experience in Management, Sales/Marketing, Development and Research, that aims at bringing you the best Integration-as-a-Service solution. Feel free to reach out.
		</p>
	</div>
</div>
<div class="row animated fadeIn">
	<div class="small-12 columns">
		<h2 class="subheader">The Team</h2>
		<%= render(:partial => 'business') %>
	</div>
</div>