<% content_for :title, "About - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs animated fadeIn">
	<li><a href="<%= root_url %>">Home</a></li>
	<li class="current">About</li>
</ul>
<h1 class="animated fadeIn">About <strong>ARiiP</strong></h1>

<div class="row animated fadeIn">
	<div class="small-12 columns">
		<p>
			<strong>ARiiP</strong> is innovative platform for automated, real-time, integration and interoperability among data and services.
		</p>
	</div>
</div>
<div class="row animated fadeIn">
	<div class="small-6 columns">
		<%= render(:partial => 'contact/research') %>
	</div>
</div>