<% content_for :title, "#{ENV['APP_TITLE']} - Contact Us | Integration Platform for Developers" %>
<% content_for :meta_description, '<meta name="description" content="ARiiP is open to your feedback and doubts, feel free to reach us out. ARiiP is an Integration-as-a-Service platform for developers and companies." />'.html_safe %>
<% content_for :meta_keywords, '<meta name="keywords" content="ariip, integration, integration-as-a-service, iaas, ipaas, create integration, cloud integration, local integration, contact" />'.html_safe %>
<div class="row ">
  <div class="large-12 columns">
    <h1>Contact</h1>
    <strong>ARiiP</strong> brings straightforward data integration &amp; interoperability to all, from any data source to any application service. <br/>
    Feel free to drop us a line, your feedback is highly appreciated!
  </div>
</div>
<div class="row  ">
  <div class="small-6 columns">
    <h3 class="subheader">Drop us a line</h3>
    <div id="feedback_message">
      <%= render(:partial => 'feedbacks/form') %>
    </div>
  </div>
  <div class="small-6 columns text-center">
    <h3 class="subheader">Interested?</h3>
    <p>
      <strong>Interested in trying Ariip?</strong><br />
      Request Beta Access and start integrating and using ARiiP. You feedback is important to us"
    </p>
    <a href="#" data-reveal-id="request_access" class="button  info radius icon-start ">Request Access</a>
  </div>
</div>
<br />
<br />