// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';

$panel-padding: rem-calc(5);

.clear-borders {
	border: none;
}

.info-row {
	border-left: 3px solid #ccc;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px;
	padding-top: 8px;

}

.info-enabled {
	@extend .clear-borders;
	@extend .info-row;
	border-left-color: lighten($success-color,5%);
	background-color: lighten($success-color,25%);//lighten($success-color,50%);
}
.info-enabled:hover {
	border-left-color: darken($success-color, 2%);
	background-color: lighten($success-color,20%);
}

.info-disabled{
	@extend .clear-borders;
	@extend .info-row;
	border-left-color: lighten($alert-color,10%);
	background-color: lighten($alert-color,45%);
}
.info-disabled:hover {
	border-left-color: darken($alert-color, 10%);
	background-color: lighten($alert-color,40%);
}

.info-secondary {
	@extend .clear-borders;
	@extend .info-row;
	border-left-color: lighten($primary-color,5%);
	background-color: lighten($primary-color,25%);//lighten($success-color,50%);
}
.info-secondary:hover {
	border-left-color: darken($primary-color, 2%);
	background-color: lighten($primary-color,20%);
}

.on {
	background-color: $success-color;
	font-weight: 600;
	color: #FFFFFF;
}

.off {
	background-color: $alert-color;
	font-weight: 600;
	color: #FFFFFF;
}


.big {
	font-size: 30px;
	font-weight: 600;
}

.agent-hl {
	@include panel($padding:2px,$adjust:true);
	@include radius();
	margin: 2px;
}
.center {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
}


.input_details_toggle {
cursor: pointer;
}

.input_details {
    display: none;
}



