/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'foundation_and_overrides'
 *= require_tree .
 */
@import 'foundation_and_overrides';
@charset "UTF-8";

/*
 * FONTS
 */

/** Entypo and Entypo Social for iconography **/
@font-face {
  font-family: 'ariip';
  src: font-url('ariip.eot');
  src: font-url('ariip.eot#iefix') format('embedded-opentype'), font-url('ariip.woff') format('woff'), font-url('ariip.ttf') format('truetype'), font-url('ariip.svg#ariip') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** STATIC CSS **/
html {
  height: 100%;
}
pre, code, kbd, samp {
  font-family: monospace;
  border-radius: 3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px 12px;
}
pre code {
  border: 0px !important;
  padding: 0;
}
code {
  padding: 0 3px 0 3px;
}
b, strong {
}
em {
  font-style: italic;
  font-weight: 300;
}
section.application-nav ul li a {
  font-size: 0.8em;
  vertical-align: top;
}
section.top-bar-section ul li a {
  font-size: 0.8em;
  vertical-align: top;
}
li.social {
  font-size: 128%;
}
.logo {
  font-size: 1.5em;
}
.user-side-text {
  font-size: 10px;
  color: #333;
}
.pad-right {
  padding: 4px;
}
.mg-right {
  margin-right: 4px;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/** highlight variables **/
.selector {
  font-weight: 600;
  font-style: italic;
  color: #2980B9;
}

/** highlight code **/
.code {
  font-weight: 600;
  font-style: italic;
  color: #16A085;
}
.remember_me {
  color: #333;
}
a.remove {
  color: #f04124;
  font-size: 0.8em;
}
a:hover.remove {
  color: darken(#f04124, 20%);
}
.centered-text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  text-align: center;
}
.small-text {
  font-size: 80%;
}

/** HIDDEN **/
.hidden {
  display: none;
}

/** COLORS */
.dark_red {
  color: #C0392B;
}
.dark_grey {
  color: #7F8C8D;
}

.white {
  color: white;
}

/** ICONS */

/** iconography classes **/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ariip";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;  /* Animation center compensation - margins should be symmetric */

  /* remove if not needed */
  margin-left: .2em;  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.sidebar-icon:before {
  margin-right: 1em;
}

/** new naming */
.icon-ariip:before {
  content: '\e941';
}
.icon-input:before {
  content: '\e8c7';
}
.icon-output:before {
  content: '\e8c6';
}
.icon-feedback:before {
  content: '\e838';
}
.icon-user:before {
  content: '\e938';
}
.icon-execute:before {
  content: '\e85d';
}
.icon-edit:before {
  content: '\e880';
}
.icon-help:before {
  content: '\e8a5';
}
.icon-dashboard:before {
  content: '\e89d';
}
.icon-mail:before {
  content: '\e8e5';
}
.icon-tag:before {
  content: '\e91e';
}
.icon-schedule:before {
  content: '\e852';
}
.icon-events:before {
  content: '\e8c1';
}
.icon-updated:before {
  content: '\e822';
}
.icon-publisher:before {
  content: '\e80b';
}
.icon-endpoint:before {
  content: '\e80a';
}
.icon-library:before {
  content: '\e80e';
}
.icon-download:before {
  content: '\e87c';
}
.icon-delete:before {
  content: '\e886';
}
.icon-save:before {
  content: '\e901';
}
.icon-back:before {
  content: '\e823';
}
.icon-create:before {
  content: '\e84c';
}
.icon-check:before {
  content: '\e839';
}
.icon-delivery:before {
  content: '\e83c';
}
.icon-faq:before {
  content: '\e89f';
}
.icon-how:before {
  content: '\e8bc';
}
.icon-docs:before {
  content: '\e8e3';
}
.icon-resources:before {
  content: '\e82a';
}
.icon-lifebuoy:before {
  content: '\e8bb';
}
.icon-info:before {
  content: '\e8af';
}
.icon-cloud:before {
  content: '\e853';
}
.icon-local:before {
  content: '\e87e';
}
.icon-poll:before {
  content: '\e870';
}
.icon-push:before {
  content: '\e8f4';
}
.icon-next:before {
  content: '\e83c';
}
.icon-existing:before {
  content: '\e856';
}
.icon-details:before { content: '\e8a0'; }
.icon-review:before { content: '\e900'; }
.icon-lock:before { content: '\e8c5'; }
.icon-trash:before { content: '\e92a'; }
.icon-localcloud:before { content: '\e925'; }
.icon-more:before { content: '\e818'; }
.icon-many2many:before { content: '\e90c'; }
.icon-easy:before { content: '\e84e'; }
.icon-start:before { content: '\e848'; }
.icon-usecases:before { content: '\e828'; }
.icon-about:before { content: '\e8af'; }
.icon-pricing:before { content: '\e86c'};
.icon-features:before { content: '\e88c'; }
.icon-small-right:before { content: '\e83f'; }
.icon-document:before { content: '\e875'; }
.icon-database:before { content: '\e871'; }
.icon-spreadsheet:before { content: '\e912'; }
.icon-shuffle:before { content: '\e90c'; }
.icon-browser:before { content: '\e830'; }
.icon-ticket:before { content: '\e926'; }
.icon-cog:before { content: '\e855'; }
.icon-infinity:before { content: '\e8ad'; }
.icon-star:before { content: '\e917'; }

/** legacy */
.icon-agent:before {
  content: '\e8c7';
}
.icon-integration:before {
  content: '\e802';
}
.icon-template:before {
  content: '\e8c6';
}
.icon-realtime:before {
  content: '\E771';
}
.icon-signout:before {
  content: '\e913';
}
.icon-signup:before {
  content: '\E700';
}
.icon-userdetails:before {
  content: '\E722';
}
.icon-forward:before {
  content: '\E762';
}
.icon-settings:before {
  content: '\2699';
}
.icon-view:before {
  content: '\e88a';
}
.icon-add:before {
  content: '\e8ea';
}
.icon-right:before {
  content: '\E75E';
}
.icon-update:before {
  content: '\1F554';
}
.icon-seed:before {
  content: '\1F56A';
}
.icon-list:before {
  content: '\2630';
}
.icon-properties:before {
  content: '\E73E';
}
.icon-selectors:before {
  content: '\1F569';
}
.icon-files:before {
  content: '\e876';
}

/** Social icons **/
.icon-facebook:before { content: '\e94c'; }
.icon-twitter:before { content: '\e979'; }
.icon-linkedin:before { content: '\e95c'; }
.icon-github:before { content: '\e952'; }
.icon-dropbox_oauth2:before  { content: '\e949'; }
.icon-google_oauth2:before { content: '\e954'; }
.xl-icon {
  font-size: 24px;
}
.event_list {
  font-size: 50%;
}

/** overrides */

/**
 *  LAYOUT
 **/
.content_application {
  padding-left: 200px;
  padding-top: 16px;
}
.top-bar-section ul li:hover {
  background-color: #FFF;
}
.top-bar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 5px 2px;
  z-index: 1000;
}
dropdown a:hover {
  background-color: #FFF;
}
.lifebuoy {
  display: none;
  visibility: none;
}
#lifebuoy {
  background-color: #C0392B;
  color: white;
}
#lifebuoy:hover {
  background-color: #E74C3C;
}

#request_custom_integration_button {
  width: 20%;
  margin: 0 auto;
  position: fixed;
  z-index: 500;
  top: 8px;
  display: block;
  left: 40%;
}

/** sidebar */
.sidebar {
  position: fixed;
  background-color: #34495E; /* 34495E */
  top: 0;
  bottom: 0;
  width: 200px;
  padding-top: 50px;
  z-index: 20;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px 5px 2px;
}


/** feedback */
#feedback {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #7F8C8D;
  color: #FFF;
  font-size: 1.5em;
  padding: 2px;
  border-radius: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: block;
  width: 40px;
  height: 40px;
  display: block;
}
#feedback a {
  color: #FFF;
}
#feedback:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/** tabs */
.tab_radius {
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
.tab_complete {
  border: solid 1px #FFF;
  border-color: lighten($success-color, 40%);
  background-color: lighten($success-color,55%);
  color: $primary-color;
}
.tab_verticals {
  margin-top: 8px;
  margin-bottom: 8px;
}

/** button feedback overlay */
#overlayed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ECF0F1;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 2000;
}

/* buttons */
.whiteonwhite {
  @include button(
    $bg: false,
    $radius:true,
    $padding: rem-calc(8)
    );
  $button-function-factor: 20%;
  border: solid 1px $primary-color;
}


/*
 * PRICING STUFF
 */
.pricing {
  padding: 8px;
  padding-bottom: 8px;
}