// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
	margin: 0 auto;
	text-align: center;
}

.huge {
	font-size: 600%;
	color: darken(#be616b,10%);
}

.dark {
 color: darken(#8fa1b2, 10%);
}

.index-logo{
	color: #268bd2;
	font-size: 1400%
}

.home_navbar {
    padding: 4px;
}

/*new sidebar */
ul.off-canvas-list li a.active {
  border-left: #FFF 4px solid;
  background-color:#2C3E50;
}

ul.off-canvas-list li a:hover {
  background-color: #2C3E50;
}

