<p>Hi <%= @resource.name ||= @resource.email %>!</p>

<p>Someone has requested a link to change your password on <a href="https://ariip.com/">ARiiP</a>. You can do this using the link below.</p>

<p><%= link_to 'Change my password now', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<a href="https://ariip.com"><img src="https://ariip.com/images/logo.png" align="ARiiP"></a>
