<% content_for :title, "Features - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs animated fadeIn">
    <li><a href="<%= root_url %>">Home</a></li>
    <li class="current">Features</li>
</ul>
<h1 class="animated fadeIn"><strong>ARiiP</strong>'s main features</h1>

<div class="row">
    <div class="small-9 columns">
         <a name="automation"><h3 class="subheader">Automation</h3></a>
        <p>
            Create automated integration pipelines. No more scripting and manually launching tasks: with
          <strong>ARiiP</strong>, the platform does the work for you.
          </p>
          <p>
          Deploy local or remote agents to monitor your data, ARiiP will make sure that everything is tracked and will trigger your integrations in realtime.
          </p>
          <p>
          Furthermore, you can develop additional plugins to your systems that will push events data to ARiiP, starting the integration process on demand.
          </p>
    </div>
    <div class="small-3 columns">
        <div class="icon-agent huge"></div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="small-3 columns">
        <div class="icon-realtime huge"></div>
    </div>
    <div class="small-9 columns">
         <a name="realtime"><h3 class="subheader">Realtime</h3></a>
         <p>No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with
          <strong>ARiiP</strong>
          the integration is continuous and in (near) real time.</p>
          <p>
          As ARiiP's agents are monitoring your content in a predefined schedule, never miss data because they have not been integrated. The platform ensures
          that all the data delivered to the configured endpoints are fresh.
          </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="small-9 columns">
         <a name="integration"><h3 class="subheader">Integration</h3></a>
        <p>Integrate everything. If there&apos;s a way to get the data,
          <strong>ARiiP</strong>
          can get it for you. From complex SQL queries to JSON objects, multiple formats can be extracted by our agents.</p>
          <p>
          Forget writing custom database adapters or XML parsers, ARiiP already features several data acquisition algorithms.
          </p>
    </div>
    <div class="small-3 columns">
        <div class="icon-integration huge">
    </div>
</div>
<hr/>
<div class="row">
    <div class="small-3 columns">
        <div class="icon-endpoint huge"></div>
    </div>
    <div class="small-9 columns">
        <a name="interoperability"><h3 class="subheader">Interoperability</h3></a>
        <p >Delivery endpoints to interoperate with everything. From custom SQL queries, to file appends, to web service calls or sending emails, with
          <strong>ARiiP</strong>
          integrated data can be sent anywhere.</p>
          <p>
          Our advanced templating engine enables transforming and loading extracted data before delivery. Write custom <code>code</code> or use available functions to modify your data
          into a more suitable model.
          </p>
    </div>
</div>
<hr/>