<% content_for :title, "#{ENV["APP_TITLE"]} - Features | Integration Platform for Developers" %>
<% content_for :meta_description, '<meta name="description" content="Discover all about our Features: Automation, Realtime, Integration and Interoperability. ARiiP is an Integration-as-a-Service platform for developers and companies." />'.html_safe %>
<% content_for :meta_keywords, '<meta name="keywords" content="ariip, integration, integration-as-a-service, iaas, ipaas, create integration, cloud integration, local integration, features" />'.html_safe %>
<div class="row">
  <div class="small-12 columns">
    <h1 class="">Features</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-7 columns">
    <a name="automation"><h3 class="subheader">Automation</h3></a>
    <p>
      Create automated integration pipelines. No more scripting and manually launching tasks: with
      <strong>ARiiP</strong>, the platform does the work for you.
    </p>
    <p>
      Track local or remote input data, ARiiP will make sure that everything is monitored and will trigger your integrations in realtime.
    </p>
    <p>
      Furthermore, you can develop additional plugins to your systems that will push events data to ARiiP, starting the integration process on demand.
    </p>
  </div>
  <div class="small-12 medium-5 columns">
    <%= link_to(image_tag('automation_feature_inputs.png', :alt => 'automation feature for inputs'), image_path('automation_feature_inputs.png'), :class => 'th', :target => '_blank') %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="small-12 medium-5 columns">
    <%= link_to(image_tag('realtime_feature_stream_events.png', :alt => 'realtime feature with stream of events'), image_path('realtime_feature_stream_events.png'), :class => 'th', :target => '_blank') %>
  </div>
  <div class="small-12 medium-7 columns">
    <a name="realtime"><h3 class="subheader">Realtime</h3></a>
    <p>No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with
      <strong>ARiiP</strong>
    the integration is continuous and in (near) real time.</p>
    <p>
      As ARiiP's input monitors track your content in a predefined schedule, never miss data because they have not been integrated. The platform ensures
      that all the data delivered to the configured endpoints are fresh. Or simply update your apps to push data into ARiiP, starting the integration processes on demand.
    </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="small-12 medium-7 columns">
    <a name="integration"><h3 class="subheader">Integration</h3></a>
    <p>Integrate everything. If there&apos;s a way to get the data,
      <strong>ARiiP</strong>
    can get it for you. From complex SQL queries to JSON objects, multiple formats can be extracted by our agents.</p>
    <p>
      Forget writing custom database adapters or XML parsers, ARiiP already features several data acquisition algorithms.
    </p>
  </div>
  <div class="small-12 medium-5 columns">
    <%= link_to(image_tag('integrations.png', :alt => 'integrations for everything'), image_path('integrations.png'), :class => 'th', :target => '_blank') %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="small-12 medium-5 columns">
    <%= link_to(image_tag('interoperability_feature_outputs.png', :alt => 'interoperability for outputs'), image_path('interoperability_feature_outputs.png'), :class => 'th', :target => '_blank') %>
  </div>
  <div class="small-12 medium-7 columns">
    <a name="interoperability"><h3 class="subheader">Interoperability</h3></a>
    <p >Delivery outputs to interoperate with everything. From custom SQL queries, to file appends, to web service calls or sending emails, with
      <strong>ARiiP</strong>
    integrated data can be sent anywhere.</p>
    <p>
      Our advanced templating engine enables transforming and loading extracted data before delivery. Write custom <code>code</code> or use available functions to modify your data
      into a more suitable model.
    </p>
  </div>
</div>
<br />
<br />