<% content_for :title, "Features - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs animated fadeIn">
    <li><a href="<%= root_url %>">Home</a></li>
    <li class="current">Features</li>
</ul>
<h1 class="animated fadeIn"><strong>ARiiP</strong>'s main features</h1>

<div class="row">
    <div class="small-9 columns">
        <h3 class="subheader">Automation</h3>
        <p>...
        </p>
    </div>
    <div class="small-3 columns">
    </div>
</div>
<hr/>
<div class="row">
    <div class="small-3 columns">
    </div>
    <div class="small-9 columns">
        <h3 class="subheader">Realtime</h3>
        <p>...
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="small-9 columns">
        <h3 class="subheader">Integration</h3>
        <p>...
        </p>
    </div>
    <div class="small-3 columns">
    </div>
</div>
<hr/>
<div class="row">
    <div class="small-3 columns">
    </div>
    <div class="small-9 columns">
        <h3 class="subheader">Interoperability</h3>
        <p>...
        </p>
    </div>
</div>
<hr/>